<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo API</title>
</head>
<body>
<ul th:each="employee: ${list1}">
    <li th:utext="${employee}"></li>
</ul>
</body>
</html>