<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bài 1 Tổng 2 số</title>
</head>
<body>
<!--<form method="post" action="../teach/webdemo3">-->
<form method="post" action="baitap1">
    a:=<input type="number" step="0.001" id="a" name="a">
    b:=<input type="number" step="0.001" id="b" name="b">
    <button type="submit">Tính</button>
</form>
<h1 th:text="${kq}"></h1>
</body>
</html>