<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Regex Demo</title>
</head>
<body>
<form method="post" action="regexdemo">
    <h1 th:text="${ketqua}"></h1>
    Input: <input type="text" name="input">
    <button type="submit"> Gửi </button>
    <br>
    <br>
    <textarea rows="9" cols="70" name="characters">Nhập văn bản...</textarea>
</form>
</body>
</html>