<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>

<h1 th:text="${hello}"></h1>
<a th:href="${link}" th:text="${hello}" href="https://google.com"></a>
<img th:src="${img}"></img>

<ul th:each="data: ${list}">
    <li th:text="*{data.name}"></li>
</ul>

<form method="post" action="webdemo3">
    <input type="text" id="name" name="name">
    <input type="number" name="age">
    <button type="submit">Submit</button>
</form>
<h1 th:text="${name}"></h1>
<h1 th:text="${age}"></h1>
</body>
</html>