<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard - Brand</title>
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" th:href="@{/assets/fonts/fontawesome-all.min.css}" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" th:href="@{/assets/fonts/font-awesome.min.css}" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/assets/fonts/fontawesome5-overrides.min.css}" href="assets/fonts/fontawesome5-overrides.min.css">
</head>